.option {
    display: block;
   width: 100%;
   margin-bottom: 10px;
  padding: 8px;
  /* border: none; */
}

.correct {
    border: 1px solid green;
}

.wrong {
    border: 1px solid red;
}

.select {
 cursor: pointer;
 font-family: 'Merriweather Sans', sans-serif;
 border-radius: 4px;
 background: #f5f5f5 ;  
 border: 1px solid #ccc;
 width: 80px;
 height: 20px;
}

.select option {

    border-radius: 4px;
}